@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

footer {
  background: linear-gradient(-45deg, #0f172a, #065f46, #0f766e, #1e293b);
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
}
